.Logo{
    display:            block;
    width:              35px;
}
.Main{
    margin-top:         52px;
}
.SideBar{
    width:              300px;

    position:           fixed;
    left:               0;
    top:                52px;
    bottom:             0;

    background:         #f5f5f5;
}
.Main-Content{
    padding:            20px;
}